body {
    padding-top:3%;
}

.head-img {
    border-radius: 8px;
}

.leftside {
    text-align: center;
}

@media screen and (min-width: 900px) {
    p.intro {
        padding-bottom: 5em;
    }
}

a {
    color: #1950C6;
}

.post .timestamp {
    text-align: right;
}

.post .container {
    max-width: 80.0rem;
}
