
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="canonical" href="https://devincarr.com" />
    {{ template "_internal/opengraph.html" . }}
    <link rel="stylesheet" href="/milligram.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/tome.css">
    <title>{{ block "title" . }}
      {{ .Site.Title }} - {{ .Title }}
    {{ end }}</title>
  </head>
  <body>
    {{ partial "nav.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "copyright.html" . }}
  </body>
</html>